.newsList {
    display: flex;
    gap: 5px;
    align-items: center;
    // overflow-x: auto;
}

.newsCard {
    width: 33%;
    border: none;
}

.newsContent {
    display: flex;
    align-items: center;
}

.newsImage {
    width: 65px;
    height: 65px;
    border-radius: 8px;
    object-fit: cover;
    margin-right: 12px;
}

.newsText {
    flex: 1;
}

.newsMeta {
    margin-top: 4px;
    font-size: 12px;
    color: gray;
}
